*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: #000000;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.nav {
    padding: 39px 0;
}

img {
    max-width: 100%;
    display: block;
}

.section__new {
    padding-top: 30px;
    padding-bottom: 35px;
}

@media(min-width: 992px) {
    .section__new {
        padding-top: 60px;
        padding-bottom: 70px;
    }
}

.section__featured {
    padding-top: 35px;
    padding-bottom: 35px;
}

@media(min-width: 992px) {
    .section__featured {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.section__blog {
    padding-top: 35px;
    padding-bottom: 25px;
}

@media(min-width: 992px) {
    .section__blog {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.section__subscribe {
    padding-top: 25px;
    padding-bottom: 50px;
}

@media(min-width: 992px) {
    .section__subscribe {
        padding-top: 45px;
        padding-bottom: 100px;
    }
}