            /* Section button*/
            
            .section__wrapper-button {
                text-align: center;
            }
            
            .button {
                display: inline-block;
                padding: 0.19230em 1.26923em 0.42307em 3em;
                /*height: 51px;*/
                background-color: #F72464;
                box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
                border-radius: 4px;
                font-family: 'Playfair Display', serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 35px;
                text-decoration: none;
                text-align: center;
                color: #FFFFFF;
                transition: box-shadow 0.2s ease-in background-color 0.2s ease-in;
            }
            
            @media (min-width: 992px) {
                .button {
                    font-size: 20px;
                }
            }
            
            .button:hover {
                box-shadow: 0px 5px 35px rgba(168, 37, 76, 0.35);
                background-color: #f83570;
            }
            
            .button__outline {
                display: inline-block;
                padding: 0.34615em 1.5em 46153em 1.5rem;
                border: 1px solid #F72464;
                box-sizing: border-box;
                border-radius: 4px;
                font-family: 'Playfair Display', serif;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 21px;
                text-transform: uppercase;
                text-decoration: none;
                color: #777777;
                transition: background-color 0.2s ease-in, color 0.2s ease-in;
            }
            
            .button__outline:hover {
                box-shadow: 0px 5px 25px rgba(184, 12, 64, 0.671);
                background-color: #FF3874;
                color: #FFFFFF;
            }