.footer {
    padding: 30px 0;
    background-color: #000000;
    color: #FFFFFF;
}

.footer a {
    color: #FFFFFF;
}

.footer__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__nav {
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__nav>a+a {
    margin-left: 30px;
}

.footer__socials {
    margin-bottom: 25px;
}

.footer__socials-link {
    text-decoration: none;
}

.footer__socials-icon {}

.footer__copiright {
    margin: 0 auto;
}