.info__section {
    padding: 68px 0;
    position: relative;
    background-image: url('/img/info__bloks/bg_1.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

.info__section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.info__section-row {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info__section-title {
    margin: 0;
    margin-bottom: 25px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.3;
    color: #FFFFFF;
}

@media (min-width: 992px) {
    .info__section {
        text-align: left;
    }
    .info__section-row {
        flex-direction: row;
        justify-content: space-between;
    }
    .info__section-title {
        margin-bottom: 0;
        font-size: 52px;
    }
}