    /* Navigation */
    
    .nav {
        padding: 20px 0;
    }
    
    @media (min-width: 992px) {
        .nav {
            padding: 40px 0;
        }
    }
    
    .nav__row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    a.nav__logo {
        margin-right: 15px;
        text-decoration: none;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: #000000;
    }
    
    @media (min-width: 992px) {
        a.nav__logo {
            margin-right: 83px;
            text-decoration: none;
        }
    }
    
    a.nav__logo:hover {
        text-decoration: underline;
        color: #F72464;
    }
    
    .nav__list-holder {
        display: none;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    .nav__list-holder--visible {
        display: block;
        opacity: 1;
    }
    
    .nav__list-holder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsla(342, 93%, 55%, 0.959);
        z-index: 9;
    }
    
    .nav__list-holder .nav__list {
        transform: translateX(-100%);
    }
    
    .nav__list-holder .nav__list {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 300px;
        background-color: #000000;
        margin: 0;
        padding: 0;
        z-index: 9;
        color: #fff;
    }
    /*.nav__list {
            display: flex;
            margin: 0;
            padding: 0;
            list-style-type: none;
        }*/
    
    .nav__item {
        font-size: 18px;
        display: block;
        padding: 15px 15px;
        text-align: center;
        border-bottom: 1px solid #8a8989;
    }
    
    @media (min-width: 992px) {
        .nav__item {
            margin-right: 29px;
            text-decoration: none;
        }
    }
    
    .nav__item:last-child() {
        margin-right: 0;
    }
    
    .nav__link {
        text-decoration: none;
        /*color: #0c0c0c;*/
        color: inherit;
    }
    
    a.nav__link:hover {
        text-decoration: underline;
        color: #F72464;
    }
    
    .nav__cart {
        margin-left: auto;
        margin-right: 15px;
    }
    
    @media (min-width: 992px) {
        .nav__cart {
            margin-right: 0;
        }
    }
    
    .nav__cart-link {
        display: inline-block;
        padding: 5px;
        top: 5px;
        position: relative;
    }
    
    .nav__cart-number {
        position: absolute;
        width: 20px;
        height: 20px;
        top: -5px;
        right: -5px;
        border-radius: 50%;
        color: #fff;
        background: #F72464;
        font-weight: 700;
        font-size: 12px;
        text-align: center;
        line-height: 20px;
    }