.subscribe__form {
    display: flex;
    justify-content: center;
}

.subscribe__form>*+* {
    margin-left: 10px;
}

.subscribe__form-input {
    padding-left: 10px;
    padding-right: 10px;
    width: 230px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #F72464;
    border-radius: 5px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
}

.subscribe__form-input::placeholder {
    color: #999999;
}

.subscribe__form-submit {
    display: inline-block;
    padding: 15px 30px;
    background: #F72464;
    border-radius: 5px;
    border: none;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #FFFFFF;
}